<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzhi2.monster.login.dao.mapper.ConfigUserMapper">
    <select id="getUserById" resultType="com.bzhi2.monster.login.entity.domain.User">
        select* from user where id = #{id}
    </select>
</mapper>